<div class="col-12 float-start dashboard">
    <div class="col-12 float-start p-0">
        <h1 class="col-6 float-start p-0">Books</h1>
        <div class="col-6 float-end p-0">
            <button mat-raised-button color="primary" class="float-end">Create New Book</button>
        </div>
    </div>
    <div class="col-12 float-start p-0 my-3">
        <div class="col-6 float-start search-bar">
            <img src="../../../assets/search.PNG" alt="search" />
            <!-- <input class="col-12 float-start" placeholder="Search" #input [(ngModel)]="searchText" (ngModelChange)="change(input.value)"/> -->
            <input class="col-12 float-start" placeholder="Search" #input [(ngModel)]="searchText" />
            <button class="clear" (click)="clearInput()" *ngIf="!!searchText && searchText.length>0" aria-label="clear">X</button>
        </div>
    </div>
    <div class="col-12 float-start p-0 my-3">
        <h2>All Books</h2>
    </div>
    <!-- <div class="col-12 float-start p-0 my-3" *ngIf="searchText?.length == 0">
        <h2>No record found !!</h2>
    </div> -->
    <div class="col-12 float-start p-0" *ngIf="(searchResult | filter:searchText) as results">
        <h2 *ngIf="!!results && results.length == 0">No record found !!</h2>
    </div>
    <div class="col-12 float-start p-0 loadercontainer" [ngClass]="loading ? '':'hidden'">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngFor="let item of searchResult |filter:searchText">
        <div class="col-12 col-md-6 col-xl-6 float-start">
            <mat-card>
                <mat-card-content>
                    <p class="col-12 float-start title ellipses" matTooltip="{{item.volumeInfo.title}}" matTooltipPosition="below">{{item.volumeInfo.title}}</p>
                    <p class="content">Authors : {{item.volumeInfo.authors}}</p>
                    <p class="content">publisher : {{item.volumeInfo.publisher}}</p>
                    <p class="content">Published Date : {{item.volumeInfo.publishedDate}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-container>


   

</div>