.shift {
  padding-left: 18%;
  width: 100%;
  transition: 0.5s all;
}
.expand {
  padding-left: 68px !important;
  width: 100%;
  transition: 0.5s all;
}

@media only screen and (max-width: 1300px) {
  .shift {
    padding-left: 25%;
  }
}
@media only screen and (max-width: 960px) {
  .shift {
    padding-left: 30%;
  }
}
@media only screen and (max-width: 780px) {
  .shift {
    padding-left: 33%;
  }
}
@media only screen and (max-width: 720px) {
    .shift {
      padding-left: 0%;
    }
    .expand {
        padding-left: 0px !important;
      }
  }
